In [1]:
import pandas as pd
from src.geo_tools import generate_google_maps_html
from src.tools import extract_data_intent, safe_dataframe_tool, get_openai_llm
from src.classifiers import llm_classifier
import json

Dataset loaded successfully.

In [2]:
"Step 1 - original question"

QUERY = "show on map  3 bedroom flats under 3000 pounds near university college London"

In [4]:
"Step 3 - What to do with the above data either [print, plot or map]?"

print(llm_classifier(QUERY))

geospatial_plot
geospatial_plot

In [5]:
data_json_str = safe_dataframe_tool.invoke(QUERY)
data_dict = json.loads(data_json_str)

Dataset loaded successfully.

In [6]:
results = data_dict.get("result", [])

In [8]:
html = generate_google_maps_html(results)

<class 'list'>

In [13]:
locations = pd.DataFrame(results)

In [15]:
results

[{'title': '3 bedroom flat for rent in Priory Road South Hampstead NW6',
  'display_address': 'Priory Road South Hampstead NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '3NH',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 3000,
  'latitude': 51.54191,
  'longitude': -0.18967},
 {'title': '3 bedroom flat for rent in Dynham Road, West Hampstead, NW6',
  'display_address': 'Dynham Road, West Hampstead, NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '2NT',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2999,
  'latitude': 51.5442,
  'longitude': -0.195263},
 {'title': '3 bedroom flat for rent in Acol Road, South Hampstead NW6',
  'display_address': 'Acol Road, South Hampstead NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '3AA',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2850,
  'latitude': 51.54184,
  'longitude': -0.19069},
 {'title': '3 bedroom flat for rent in Kilburn High Road, London, NW6',
  'display_address': 'Kilburn High Road, London, NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '2BS',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2297,
  'latitude': 51.54305,
  'longitude': -0.199},
 {'title': '3 bedroom flat for rent in Mazenod Avenue, London, NW6',
  'display_address': 'Mazenod Avenue, London, NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '4LR',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2600,
  'latitude': 51.54127,
  'longitude': -0.1946},
 {'title': '3 bedroom flat for rent in Kingsgate Road London NW6',
  'display_address': 'Kingsgate Road London NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '4TD',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 3000,
  'latitude': 51.54128,
  'longitude': -0.19504},
 {'title': '3 bedroom flat for rent in Parkway ,Camden NW1',
  'display_address': 'Parkway ,Camden NW1',
  'postcode_outcode': 'NW1',
  'postcode_incode': '7AH',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2795,
  'latitude': 51.538017,
  'longitude': -0.144927},
 {'title': '3 bedroom flat for rent in Waterhead, Varndell Street, NW1',
  'display_address': 'Waterhead, Varndell Street, NW1',
  'postcode_outcode': 'NW1',
  'postcode_incode': '3RR',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2650,
  'latitude': 51.529281,
  'longitude': -0.139209},
 {'title': '3 bedroom flat for rent in Fordwych Road, London, NW2',
  'display_address': 'Fordwych Road, London, NW2',
  'postcode_outcode': 'NW2',
  'postcode_incode': '3NX',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2700,
  'latitude': 51.55479,
  'longitude': -0.210815},
 {'title': '3 bedroom flat for rent in Dynham Road, West Hampstead NW6',
  'display_address': 'Dynham Road, West Hampstead NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '2NT',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2999,
  'latitude': 51.54416,
  'longitude': -0.19535},
 {'title': '3 bedroom flat for rent in Finchley Road, London, NW3',
  'display_address': 'Finchley Road, London, NW3',
  'postcode_outcode': 'NW3',
  'postcode_incode': '6HB',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2990,
  'latitude': 51.55156,
  'longitude': -0.18554},
 {'title': '3 bedroom flat for rent in St Pancras Way, Camden, NW1',
  'display_address': 'St Pancras Way, Camden',
  'postcode_outcode': 'NW1',
  'postcode_incode': '9NG',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2800,
  'latitude': 51.542778,
  'longitude': -0.137834},
 {'title': '3 bedroom flat for rent in Mill Lane London NW6',
  'display_address': 'Mill Lane London NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '1TF',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 3000,
  'latitude': 51.55179,
  'longitude': -0.19462},
 {'title': '3 bedroom flat for rent in Greencroft Gardens London NW6',
  'display_address': 'Greencroft Gardens London NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '3JQ',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2800,
  'latitude': 51.54363,
  'longitude': -0.18413},
 {'title': '3 bedroom flat for rent in Aberdare Gardens, South Hampstead NW6',
  'display_address': 'Aberdare Gardens, South Hampstead NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '3QD',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2700,
  'latitude': 51.54266,
  'longitude': -0.18261},
 {'title': '3 bedroom flat for rent in Dynham Road, West Hampstead NW6',
  'display_address': 'Dynham Road, West Hampstead NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '2NT',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2843,
  'latitude': 51.54416,
  'longitude': -0.19535},
 {'title': '3 bedroom flat for rent in Broxwood Way, London, NW8',
  'display_address': 'Broxwood Way, London, NW8',
  'postcode_outcode': 'NW8',
  'postcode_incode': '7QJ',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2700,
  'latitude': 51.536872,
  'longitude': -0.163789},
 {'title': '3 bedroom flat for rent in Ludham, Lismore Circus, NW5',
  'display_address': 'Ludham, Lismore Circus',
  'postcode_outcode': 'NW5',
  'postcode_incode': '4SF',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2400,
  'latitude': 51.55286,
  'longitude': -0.154965},
 {'title': '3 bedroom flat for rent in Greville Road, Kilburn Park, NW6',
  'display_address': 'Greville Road, Kilburn Park',
  'postcode_outcode': 'NW6',
  'postcode_incode': '5HY',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2817,
  'latitude': 51.536561,
  'longitude': -0.190487},
 {'title': '3 bedroom flat for rent in Hampstead Road, NW1',
  'display_address': 'Hampstead Road',
  'postcode_outcode': 'NW1',
  'postcode_incode': '3EE',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2800,
  'latitude': 51.5275,
  'longitude': -0.14029},
 {'title': '3 bedroom flat for rent in B, Dynham Road, London, NW6',
  'display_address': 'B, Dynham Road, London, NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '2NT',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2817,
  'latitude': 51.544146,
  'longitude': -0.194622},
 {'title': '3 bedroom flat for rent in Falkland Road, London, NW5',
  'display_address': 'Falkland Road, London, NW5',
  'postcode_outcode': 'NW5',
  'postcode_incode': '2XB',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2950,
  'latitude': 51.55195,
  'longitude': -0.137001},
 {'title': '3 bedroom flat for rent in B, Dynham Road, London, NW6',
  'display_address': 'B, Dynham Road, London, NW6',
  'postcode_outcode': 'NW6',
  'postcode_incode': '2NT',
  'bathrooms': 1,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 2817,
  'latitude': 51.544146,
  'longitude': -0.194622},
 {'title': '3 bedroom flat for rent in Brecknock Road, N7',
  'display_address': 'Brecknock Road',
  'postcode_outcode': 'N7',
  'postcode_incode': '0BX',
  'bathrooms': 2,
  'bedrooms': 3,
  'property_type': 'Flat',
  'price_gbp': 3000,
  'latitude': 51.551052,
  'longitude': -0.13082}]

In [14]:
locations

,title,display_address,postcode_outcode,postcode_incode,bathrooms,bedrooms,property_type,price_gbp,latitude,longitude
0,3 bedroom flat for rent in Priory Road South H...,Priory Road South Hampstead NW6,NW6,3NH,2,3,Flat,3000,51.541910,-0.189670
1,"3 bedroom flat for rent in Dynham Road, West H...","Dynham Road, West Hampstead, NW6",NW6,2NT,2,3,Flat,2999,51.544200,-0.195263
2,"3 bedroom flat for rent in Acol Road, South Ha...","Acol Road, South Hampstead NW6",NW6,3AA,1,3,Flat,2850,51.541840,-0.190690
3,"3 bedroom flat for rent in Kilburn High Road, ...","Kilburn High Road, London, NW6",NW6,2BS,2,3,Flat,2297,51.543050,-0.199000
4,"3 bedroom flat for rent in Mazenod Avenue, Lon...","Mazenod Avenue, London, NW6",NW6,4LR,1,3,Flat,2600,51.541270,-0.194600
5,3 bedroom flat for rent in Kingsgate Road Lond...,Kingsgate Road London NW6,NW6,4TD,1,3,Flat,3000,51.541280,-0.195040
6,"3 bedroom flat for rent in Parkway ,Camden NW1","Parkway ,Camden NW1",NW1,7AH,1,3,Flat,2795,51.538017,-0.144927
7,"3 bedroom flat for rent in Waterhead, Varndell...","Waterhead, Varndell Street, NW1",NW1,3RR,1,3,Flat,2650,51.529281,-0.139209
8,"3 bedroom flat for rent in Fordwych Road, Lond...","Fordwych Road, London, NW2",NW2,3NX,2,3,Flat,2700,51.554790,-0.210815
9,"3 bedroom flat for rent in Dynham Road, West H...","Dynham Road, West Hampstead NW6",NW6,2NT,2,3,Flat,2999,51.544160,-0.195350
10,"3 bedroom flat for rent in Finchley Road, Lond...","Finchley Road, London, NW3",NW3,6HB,2,3,Flat,2990,51.551560,-0.185540
11,"3 bedroom flat for rent in St Pancras Way, Cam...","St Pancras Way, Camden",NW1,9NG,1,3,Flat,2800,51.542778,-0.137834
12,3 bedroom flat for rent in Mill Lane London NW6,Mill Lane London NW6,NW6,1TF,1,3,Flat,3000,51.551790,-0.194620
13,3 bedroom flat for rent in Greencroft Gardens ...,Greencroft Gardens London NW6,NW6,3JQ,1,3,Flat,2800,51.543630,-0.184130
14,"3 bedroom flat for rent in Aberdare Gardens, S...","Aberdare Gardens, South Hampstead NW6",NW6,3QD,1,3,Flat,2700,51.542660,-0.182610
15,"3 bedroom flat for rent in Dynham Road, West H...","Dynham Road, West Hampstead NW6",NW6,2NT,1,3,Flat,2843,51.544160,-0.195350
16,"3 bedroom flat for rent in Broxwood Way, Londo...","Broxwood Way, London, NW8",NW8,7QJ,2,3,Flat,2700,51.536872,-0.163789
17,"3 bedroom flat for rent in Ludham, Lismore Cir...","Ludham, Lismore Circus",NW5,4SF,1,3,Flat,2400,51.552860,-0.154965
18,"3 bedroom flat for rent in Greville Road, Kilb...","Greville Road, Kilburn Park",NW6,5HY,2,3,Flat,2817,51.536561,-0.190487
19,"3 bedroom flat for rent in Hampstead Road, NW1",Hampstead Road,NW1,3EE,1,3,Flat,2800,51.527500,-0.140290
20,"3 bedroom flat for rent in B, Dynham Road, Lon...","B, Dynham Road, London, NW6",NW6,2NT,1,3,Flat,2817,51.544146,-0.194622
21,"3 bedroom flat for rent in Falkland Road, Lond...","Falkland Road, London, NW5",NW5,2XB,2,3,Flat,2950,51.551950,-0.137001
22,"3 bedroom flat for rent in B, Dynham Road, Lon...","B, Dynham Road, London, NW6",NW6,2NT,1,3,Flat,2817,51.544146,-0.194622
23,"3 bedroom flat for rent in Brecknock Road, N7",Brecknock Road,N7,0BX,2,3,Flat,3000,51.551052,-0.130820

In [12]:
html

'<html><body><h1>No valid IDs provided</h1></body></html>'

In [6]:
with open("properties_westminster_large_number.html", "w", encoding="utf-8") as f:
    f.write(html)

print("Saved as properties_map.html")

Saved as properties_map.html

In [7]:
from prompts.tool_prompts import get_plotly_code_prompt

In [8]:
prompt = get_plotly_code_prompt(QUERY,data)

In [9]:
print(prompt)

You are an assistant that generates **only Python code** using Plotly (not matplotlib).

The dataset is already available in memory as a variable named `df`.

Dataset columns: borough, avg_price
Sample rows (first 5, for reference only — do NOT hardcode them): [{'borough': 'Kensington and Chelsea', 'avg_price': 3628.487394958}, {'borough': 'Westminster', 'avg_price': 3459.3021201413}, {'borough': 'City of London', 'avg_price': 3157.4137931034}, {'borough': 'Camden', 'avg_price': 2582.2489270386}, {'borough': 'Hammersmith and Fulham', 'avg_price': 2424.3733905579}]

User request: "compare prices per each london borough for 1 bedroom flat"

Instructions:
- Always use the full dataset `df` (not just the sample).
- Do not recreate or hardcode the dataset.
- If there is only one row, still plot it (e.g., single bar or single point).
- Choose the most appropriate plot type (bar, line, scatter, histogram, etc.).
- Return only valid Python code, wrapped like this:

```python
# code here

In [10]:
from openai.types.chat import ChatCompletionSystemMessageParam, ChatCompletionUserMessageParam

official_ai = get_openai_llm()
response = official_ai.chat.completions.create(
        model="gpt-4.1-mini",
        messages=
        [
            ChatCompletionSystemMessageParam(role="system",
                                             content="You create Plotly code based on user_input and data"),
            ChatCompletionUserMessageParam(role="user", content=prompt)
        ],
        max_tokens=400
    )
    # Extract code
raw_response = response.choices[0].message.content

In [11]:
print(raw_response)

```python
import plotly.express as px

fig = px.bar(df, x='borough', y='avg_price',
             title='Average Price per 1 Bedroom Flat by London Borough',
             labels={'borough': 'London Borough', 'avg_price': 'Average Price (£)'},
             text=df['avg_price'].round(0))

fig.update_traces(textposition='outside')
fig.update_layout(xaxis_tickangle=-45, yaxis_title='Average Price (£)', yaxis=dict(tickformat=",.0f"))
fig.show()
```

In [12]:
from src.tools import extract_python_code

In [13]:
code = extract_python_code(raw_response)

print(code)

import plotly.express as px

fig = px.bar(df, x='borough', y='avg_price',
             title='Average Price per 1 Bedroom Flat by London Borough',
             labels={'borough': 'London Borough', 'avg_price': 'Average Price (£)'},
             text=df['avg_price'].round(0))

fig.update_traces(textposition='outside')
fig.update_layout(xaxis_tickangle=-45, yaxis_title='Average Price (£)', yaxis=dict(tickformat=",.0f"))
fig.show()

In [14]:
code = code.replace("fig.show()", "")
code += "\nst.plotly_chart(fig, use_container_width=True)"

print(code)

import plotly.express as px

fig = px.bar(df, x='borough', y='avg_price',
             title='Average Price per 1 Bedroom Flat by London Borough',
             labels={'borough': 'London Borough', 'avg_price': 'Average Price (£)'},
             text=df['avg_price'].round(0))

fig.update_traces(textposition='outside')
fig.update_layout(xaxis_tickangle=-45, yaxis_title='Average Price (£)', yaxis=dict(tickformat=",.0f"))

st.plotly_chart(fig, use_container_width=True)

In [11]:
print(pd.DataFrame(json.loads(safe_dataframe_tool.invoke(QUERY))['result']))

Dataset loaded successfully.
                   borough    avg_price
0           City of London  3919.207792
1              Westminster  3359.210151
2   Kensington and Chelsea  3200.649524
3                   Camden  2537.114035
4               Wandsworth  2414.468085
5   Hammersmith and Fulham  2393.431915
6            Tower Hamlets  2294.065121
7                Southwark  2219.508621
8                  Hackney  2192.873377
9                Islington  2154.578406
10                 Lambeth  2095.029851
11    Richmond upon Thames  2021.737931
12                  Newham  1896.700599
13                   Brent  1720.505338
14                Haringey  1701.506623
15               Greenwich  1661.082192
16                Hounslow  1634.705645
17                  Merton  1565.407080
18                  Ealing  1564.715517
19                Lewisham  1535.686207
20                  Barnet  1512.812500
21    Kingston upon Thames  1466.611765
22          Waltham Forest  1428.560440
23                  Harrow  1398.074074
24    Barking and Dagenham  1354.458333
25                 Enfield  1339.360544
26                 Croydon  1339.192140
27                 Bromley  1330.407692
28               Redbridge  1288.213836
29              Hillingdon  1285.762376
30                  Sutton  1244.391304
31                Havering  1237.046875
32                  Bexley  1101.313725