In [4]:
# Standard libraries
import os
import sys
import json
from dotenv import load_dotenv

# Third-party libraries
import pandas as pd

# Add project root to sys.path
project_root = os.path.dirname(os.getcwd())
sys.path.append(project_root)

# Local modules
from src.classifiers import is_uae_real_estate_query, llm_classifier
from src.tools import extract_data_intent, safe_dataframe_tool, create_plotly_code,get_openai_llm
from src.geo_tools import generate_google_maps_html

load_dotenv()

True

In [12]:
query = extract_data_intent.invoke("show histogram for the properties prices in this uae database and set the number of bins to 15")

In [16]:
from openai.types.chat import ChatCompletionSystemMessageParam, ChatCompletionUserMessageParam
from prompts.tool_prompts import get_plotly_code_prompt

In [17]:
result = safe_dataframe_tool.invoke(query)

Dataset loaded successfully.

In [23]:
df = pd.DataFrame(json.loads(result)["result"])

In [28]:
user_input = query
code_prompt = get_plotly_code_prompt(user_input, df)
# Get AI response
official_ai = get_openai_llm()
response = official_ai.chat.completions.create(
model="gpt-4.1-mini",
        messages=
        [
            ChatCompletionSystemMessageParam(role="system", content="You create Plotly code based on user_input and data"),
            ChatCompletionUserMessageParam(role="user", content=code_prompt)
        ],
        max_tokens=400
    )

# Extract code
raw_response = response.choices[0].message.content.strip()

In [31]:
from typing import Optional

def extract_python_code(text: str) -> Optional[str]:
    """
    Extract Python code from Markdown code blocks or HTML code tags.
    Returns None if no code found.

    Handles these cases:
    1. ```python\ncode\n```
    2. ```\ncode\n```
    3. <code>\ncode\n</code>
    """
    # Case 1: Python markdown
    if '```python' in text:
        return text.split('```python')[1].split('```')[0].strip()
    # Case 2: Regular markdown
    elif '```' in text:
        return text.split('```')[1].split('```')[0].strip()
    # Case 3: HTML code tags
    elif '<code>' in text.lower():
        return text.split('<code>')[1].split('</code>')[0].strip()
    return None

In [29]:
raw_response

'<code>\nimport plotly.graph_objects as go\n\nprice_ranges = [\n    "125000-13383333", "13383333-26641666", "26641666-39900000", "39900000-53158333",\n    "53158333-66416666", "66416666-79675000", "79675000-92933333", "92933333-106191666",\n    "106191666-119450000", "119450000-132708333", "132708333-145966666", "145966666-159225000",\n    "159225000-172483333", "172483333-185741666", "185741666-199000000"\n]\n\ncounts = [516, 30, 8, 3, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1]\n\nfig = go.Figure(data=[\n    go.Bar(x=price_ranges, y=counts)\n])\n\nfig.update_layout(\n    title="Distribution of Property Prices in UAE Database",\n    xaxis_title="Price Range (AED)",\n    yaxis_title="Count of Properties",\n    xaxis_tickangle=-45\n)\n\nfig.show()\n</code>'

In [33]:
code = extract_python_code(response.choices[0].message.content.strip())

In [34]:
code

'import plotly.graph_objects as go\n\nprice_ranges = [\n    "125000-13383333", "13383333-26641666", "26641666-39900000", "39900000-53158333",\n    "53158333-66416666", "66416666-79675000", "79675000-92933333", "92933333-106191666",\n    "106191666-119450000", "119450000-132708333", "132708333-145966666", "145966666-159225000",\n    "159225000-172483333", "172483333-185741666", "185741666-199000000"\n]\n\ncounts = [516, 30, 8, 3, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1]\n\nfig = go.Figure(data=[\n    go.Bar(x=price_ranges, y=counts)\n])\n\nfig.update_layout(\n    title="Distribution of Property Prices in UAE Database",\n    xaxis_title="Price Range (AED)",\n    yaxis_title="Count of Properties",\n    xaxis_tickangle=-45\n)\n\nfig.show()'

In [35]:
code = code.replace("fig.show()", "")

In [36]:
code

'import plotly.graph_objects as go\n\nprice_ranges = [\n    "125000-13383333", "13383333-26641666", "26641666-39900000", "39900000-53158333",\n    "53158333-66416666", "66416666-79675000", "79675000-92933333", "92933333-106191666",\n    "106191666-119450000", "119450000-132708333", "132708333-145966666", "145966666-159225000",\n    "159225000-172483333", "172483333-185741666", "185741666-199000000"\n]\n\ncounts = [516, 30, 8, 3, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1]\n\nfig = go.Figure(data=[\n    go.Bar(x=price_ranges, y=counts)\n])\n\nfig.update_layout(\n    title="Distribution of Property Prices in UAE Database",\n    xaxis_title="Price Range (AED)",\n    yaxis_title="Count of Properties",\n    xaxis_tickangle=-45\n)\n\n'

In [12]:
import plotly.express as px
import pandas as pd

# Sample data based on the given input (Price Range as strings for x-axis labels)
data = {
    "Price Range": [
        "Range 0", "Range 1", "Range 2", "Range 3", "Range 4", "Range 5",
        "Range 6", "Range 7", "Range 8", "Range 9", "Range 10", "Range 11",
        "Range 12", "Range 13", "Range 14"
    ],
    "Count": [515, 30, 8, 3, 4, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
}

df = pd.DataFrame(data)

# Create the histogram bar chart
fig = px.bar(df, x="Price Range", y="Count",
             labels={"Count": "Number of Properties", "Price Range": "Price Range"},
             title="Histogram of Property Prices in UAE")

fig.update_layout(xaxis_title="Price Range Bin",
                  yaxis_title="Count",
                  bargap=0.2)

fig.show()

In [20]:
data = pd.read_parquet("/home/zcemg08/projects/chatbot/datasets/my-org/clean2/data.parquet")

In [22]:
data[(data["City"] == "Dubai") &  (data["addedOn_year_month"] == "2024-03") & (data["bedrooms"] == 1)]

,title,bathrooms,bedrooms,type,price,verified,priceDuration,sizeMin,furnishing,description,latitude,longitude,City,addedOn_year_month,addedOn_month_name,addedOn_month_num,addedOn_day_num,Area
316,Fully Furnished | Large Terrace | High ROI,1,1,Residential for Sale,830000,True,sell,32,YES,Lacon International is delighted to present th...,25.004149,55.286234,Dubai,2024-03,March,3,16,Town Square
394,FIVE Specialist | 10% ROI | Residential Resell,1,1,Residential for Sale,5200000,True,sell,32,YES,Residential Tower One Bedroom RESELL. Project ...,25.080890,55.136774,Dubai,2024-03,March,3,27,Jumeirah Beach Residence
520,Desirably Located | Dubai Marina | Modern buil...,2,1,Residential for Sale,1899000,True,sell,32,NO,Le-Pax Real Estate delighted to present to you...,25.068635,55.131475,Dubai,2024-03,March,3,21,Dubai Marina

In [35]:
data["Area"].unique()

array(['Business Bay', 'Jumeirah Beach Residence', 'Al Furjan', 'Meadows',
       'Dubai Marina', 'Villa', 'Springs', 'Dubai Silicon Oasis',
       'Dubai Land', 'Jumeirah Village', 'Hayyan', 'Jebel Ali',
       'Al Reem Island', 'Damac Hills', 'Arabian Ranches', 'Al Barari',
       'Khor Fakkan', 'Palm Jumeirah', 'City Walk', 'Downtown Dubai',
       'Culture Village', 'Dubai Sports City', 'Muwaileh',
       'Dubai Hills Estate', 'Jumeirah', 'Lakes',
       'Dubai Residence Complex', 'Al Jubail Island', 'Manama',
       'Al Riqqa', 'Al Ghadeer', 'Discovery Gardens', 'Al Shamkha',
       'Zabeel', 'Views', 'Difc', 'Al Nahda', 'Town Square', 'Meydan',
       'Motor City', 'Dubai Festival City', 'Majan', 'Nad Al Sheba',
       'Al Jaddaf', 'International City', 'Al Marjan Island', 'Al Warsan',
       'Wadi Al Safa', 'Barsha Heights', 'Al Wasl', 'Al Mamzar',
       'Wasl Gate', 'Dubai Industrial City', 'Al Dhait', 'Al Qurm',
       'Yas Island', 'Dubai Harbour', 'Al Tallah', 'Saadiyat Island',
       'Al Helio', 'Mina Al Arab', 'Al Quoz', 'Hills', 'Al Barsha',
       'Al Mairid', 'Al Hamra Village', 'Deira', 'Arjan',
       'Al Ameera Village', 'Al Qusaidat', 'Seih Al Uraibi',
       'Khalifa City', 'Al Zubair', 'Madinat Zayed', 'Al Reef',
       'Al Qasimia'], dtype=object)

In [26]:
df1 = pd.DataFrame(data_dict["result"])

In [27]:
df1

  addedOn_year_month  property_count
0            2023-09               1
1            2024-02               2
2            2024-03               2
3            2024-04               1
4            2024-05              10
5            2024-06              13
6            2024-07              46
7            2024-08              28

In [12]:
df1["latitude"].min()

25.3071588

In [8]:
query = 'Data Intent:\nThe final table should include properties that are located north to Dubai Mall and are in the 30th percentile in that group. The table should include the following columns: title, bathrooms, bedrooms, type, price, verified, priceDuration, sizeMin, furnishing, description, latitude, longitude, City, addedOn_year_month, addedOn_month_name, addedOn_month_num, addedOn_day_num, and Area. The rows should be grouped by the location (north to Dubai'

In [5]:
sample = pd.read_parquet("../data/sample_data.parquet")

In [10]:
sample.dtypes

title                  object
bathrooms               int64
bedrooms                int64
type                   object
price                   int64
verified                 bool
priceDuration          object
sizeMin                 int64
furnishing             object
description            object
latitude              float64
longitude             float64
City                   object
addedOn_year_month     object
addedOn_month_name     object
addedOn_month_num       int64
addedOn_day_num         int64
Area                   object
dtype: object

In [9]:
sample.to_dict(orient="records")

[{'title': 'Great ROI I High Floor I Creek View',
  'bathrooms': 3,
  'bedrooms': 2,
  'type': 'Residential for Sale',
  'price': 2500000,
  'verified': True,
  'priceDuration': 'sell',
  'sizeMin': 44,
  'furnishing': 'NO',
  'description': 'MNA Properties is delighted to offer this apartment located in the well-esteemed Binghatti Canal, situated in the heart of Business Bay, Dubai, UAE. The 2BR apartment with the most attractive layout based on the high floor and offers the breathtaking panoramic view of Business Bay Canal; near Burj Khalifa.\n\nTo arrange a viewing or to find out more, please contact Amir via phone or Whatsapp on +971581684981 or email at amir.m@mnaproperties.ae\n\nProperty Features:\n2 Bedrooms\n2 Bathrooms + Guest room\nSize 1,323 sq. ft.\n2 Balconies\nPrivate Jacuzzi / Small Pool\nCanal View\n\nCan be sold Unfurnished as well\n\nBinghatti Canal Residences is a newly built project in Business Bay, Dubai that features symbolic design elements to generate a sense of community. Binghatti Canal reflects Binghatti Developers traditional Middle Eastern architecture and art, in addition to its modern design. Bingatti Canal finishing demonstrate the highest degree of quality and workmanship available only from the most reputable worldwide vendors. The interior design and fittings and fixtures in the 2BR Apartment are in perfect harmony, providing for an excellent balance between interior and outside spaces. Binghatti Canal residential complex - your gateway to luxury living in Business Bay.',
  'latitude': 25.1861089,
  'longitude': 55.2861562,
  'City': 'Dubai',
  'addedOn_year_month': '2024-08',
  'addedOn_month_name': 'August',
  'addedOn_month_num': 8,
  'addedOn_day_num': 14,
  'Area': 'Business Bay'},
 {'title': 'Full Sea View | Beach Life | Brand New Residence',
  'bathrooms': 3,
  'bedrooms': 2,
  'type': 'Residential for Sale',
  'price': 7200000,
  'verified': True,
  'priceDuration': 'sell',
  'sizeMin': 44,
  'furnishing': 'YES',
  'description': 'Apartment for sale in La Vie, Jumeirah Beach Residence\n\nMultiple Options\n\nLuxury 2-Bedroom apartment in La Vie, Jumeirah Beach Residences\n\nThis 2-bedroom apartment in La Vie offers a luxurious waterfront living experience with world-class amenities and unparalleled views.\n`Its Large Balcony overlooking Breathtaking views of Sea, the Palm Jumeirah.\n\nLocation: Prime spot in Jumeirah Beach Residences, Easy in and out.\nFeatures:\n\n-2 Bedroom\n-3 Baths\n-Sea Views and Beautiful Sunsets\n-High floor corner unit with a Large balcony\n-Master bedroom with dressing room\n-1 parking space\n- Price Beach Access\n\nFacilities and Amenities\nPrivate Beach\nVIP drop Off\n2 Swimming Pools (Kids &amp; Adults) Pool size - 31 Meter\nVolley-Ball Court\nBeach Club Drop Off\nClub House Pool\nModern huge GYM\nHigh ceiling lobby\nMultipurpose hall\nBespoke Outdoor Gym\nShaded Kids Area\nSteam &amp; Sauna Area (2)\nBBQ Area\nGreen Grass Sitting Area\nHigh speed Elevators\n\nConnectivity:\n-Direct Access from Marina\n-2 minutes to nearest shopping mall\n-5 minutes drive to Sheikh Zayed Road\n-10 minutes drive to Dubai Media City\n-20 minutes drive to Dubai International Airport',
  'latitude': 25.0797349,
  'longitude': 55.1343655,
  'City': 'Dubai',
  'addedOn_year_month': '2024-08',
  'addedOn_month_name': 'August',
  'addedOn_month_num': 8,
  'addedOn_day_num': 13,
  'Area': 'Jumeirah Beach Residence'},
 {'title': 'Fully Furnished | Smart Home | High Floor',
  'bathrooms': 1,
  'bedrooms': 1,
  'type': 'Residential for Sale',
  'price': 950000,
  'verified': True,
  'priceDuration': 'sell',
  'sizeMin': 32,
  'furnishing': 'YES',
  'description': '<p>Coldwell banker is pleased to present to you this stunning 1 bedroom apartment that offers the perfect blend of comfort, space, and villa views in East 40, Al furjan for sale. This 1 bedroom plus store apartment is ideal for couple or single professional seeking a harmonious living experience or also an investor as the property provides an excellent ROI.</p><p><br></p><p><strong>Property Features:</strong></p><p>1 Bedroom</p><p>1 Store room</p><p>1 bathroom</p><p>Fitted kitchen with Zanuzzi appliances</p><p>Large Terrace</p><p>Chiller Free Building</p><p>1 Parking</p><p>Total Area - 669.95 sq ft</p><p>Suite Area - 646.48 sq ft</p><p>Terrace Area - 23.47 sq ft</p><p><br></p><p>A fantastic one-bedroom apartment with a modern and well-designed layout in the sought-after community of Al Furjan. The open plan living area, kitchen/diner, and a modern bathroom provide a comfortable and stylish living space.</p><p><br></p><p>Contact our Al Furjan specialist, Alan for your private viewing now.</p><p><br></p><p>Company name: Coldwell Banker</p><p>RERA ORN: 1201</p><p>Address: Office 1211, Onyx Tower 1, Greens, Dubai</p><p>Office phone no: +97143825000</p><p>Primary email: info@coldwellbanker.ae</p><p>Website: www.coldwellbanker.ae</p>',
  'latitude': 25.02109,
  'longitude': 55.1403949,
  'City': 'Dubai',
  'addedOn_year_month': '2024-08',
  'addedOn_month_name': 'August',
  'addedOn_month_num': 8,
  'addedOn_day_num': 15,
  'Area': 'Al Furjan'}]

In [ ]:
from src.agent import main_agent

In [ ]:
main_agent("show on map 2 bedroom flats that are cheaper than 2 million and in Dubai")

In [ ]:
USER_QUERY = "show on map 2 bedroom flats that are cheaper than 2 million and in Dubai"

command = extract_data_intent.invoke(USER_QUERY)

In [ ]:
command

In [ ]:
data_json_str = safe_dataframe_tool.invoke(command)
data_dict = json.loads(data_json_str)

In [ ]:
pd.DataFrame(data_dict["result"])['latitude']

In [ ]:
pd.DataFrame(data_dict["result"])

In [ ]:
data_json_str

In [ ]:
data_dict

In [ ]:
pd.DataFrame(data_dict["result"])

In [ ]:
def main_agent(query: str):
    # Step 1: Check if query is relevant
    if not is_uae_real_estate_query(query):
        return {"type": "output", "data": "This is an irrelevant question to UAE property."}

    # Step 2: Extract data intent from user query
    data_intent = extract_data_intent.invoke(query)

    # Step 3: Use PandasAI to retrieve relevant data
    data_json_str = safe_dataframe_tool.invoke(data_intent)
    data_dict = json.loads(data_json_str)

    if not data_dict.get("success"):
        return {"type": "error", "error": data_dict.get("error"), "solution": data_dict.get("solution")}

    # Step 4: Classify the user's goal
    action = llm_classifier(query)
    

    # Step 5: Take action based on user intent
    if action == "output":
        return {"type": "data", "data": data_dict["result"]}
    
    
    elif action == "plot_stats":

        viz_input = json.dumps({"data": data_dict["result"], "query": query})
        result_json_str = create_plotly_code.invoke(viz_input)
        result = json.loads(result_json_str)
        return {"type": "plot", **result}

    elif action == "geospatial_plot":
        
        html = generate_google_maps_html(data_dict["result"])
        return {"type": "html", "content": html}

    else:
        return {"type": "error", "error": f"Unknown action '{action}' from classifier."}

In [ ]:
result = main_agent("show on map 2 bedroom flats that are cheaper than 2 million and in Dubai")

In [ ]:
result

In [ ]:
data_intent = extract_data_intent.invoke("create time series plot of the number of properties added in dubai per month")

    # Step 3: Use PandasAI to retrieve relevant data
data_json_str = safe_dataframe_tool.invoke(data_intent)
data_dict = json.loads(data_json_str)

In [ ]:
data_dict

In [ ]:
import streamlit as st
import pandas as pd
import openai
from typing import Optional

def get_openai_llm():
    """Initialize OpenAI client"""
    return openai.OpenAI(api_key=st.secrets["OPENAI_API_KEY"])

def extract_python_code(text: str) -> Optional[str]:
    """
    Extract Python code from markdown code blocks.
    Returns None if no code found.
    """
    if '```python' in text:
        return text.split('```python')[1].split('```')[0].strip()
    elif '```' in text:
        return text.split('```')[1].split('```')[0].strip()
    return None

def create_plotly_code(data_dict: dict, user_input: str, verbose: bool = True):
    """Generate and execute Plotly code using your exact prompt format"""
    # Prepare data
    data = pd.DataFrame(data_dict["result"])
    
    # Create prompt (using your exact format)
    code_prompt = f"""
        Generate the code <code> for plotting the data, {data}, in plotly,
        in the format requested by: {user_input}.
        The solution should be given using plotly and only plotly.
        Do not use matplotlib. Return the code <code> in the following
        format python <code>
    """
    # Get AI response
    official_ai = get_openai_llm()
    response = official_ai.chat.completions.create(
        model="gpt-4",
        messages=[{"role": "user", "content": code_prompt}],
        max_tokens=1000
    )
    
    # Extract code
    raw_response = response.choices[0].message.content
    code = extract_python_code(raw_response)

    # Modify code for Streamlit
    code = code.replace("fig.show()", "")
    code += "\nst.plotly_chart(fig, use_container_width=True)"
    
    return code

In [ ]:
data_intent = extract_data_intent.invoke("make bar plot of the average property prices in Jumeirah by the number of rooms")

    # Step 3: Use PandasAI to retrieve relevant data
data_json_str = safe_dataframe_tool.invoke(data_intent)
data_dict = json.loads(data_json_str)

In [ ]:
from src.tools import get

In [ ]:
data_intent

In [ ]:
DATA_DIR = r"../data/uae_real_estate_2024_geo_ready2.parquet"
df =  pd.read_parquet(DATA_DIR)

In [ ]:
df.drop(columns="addedOn", inplace=True)

In [ ]:
df.columns

In [ ]:
df.columns[df.isna().any()].tolist()

In [ ]:
df['bathrooms'].fillna(0, inplace=True)
df['bedrooms'].fillna(0, inplace=True)
df['furnishing'] = df['furnishing'].cat.add_categories('Unknown')
df['furnishing'] = df['furnishing'].fillna('Unknown')

In [ ]:
df["sizeMin"] = df["bedrooms"].apply(lambda x: 20 + 12 * x)

In [ ]:
df['addedOn'] = df['addedOn'].dt.strftime('%Y-%m-%dT%H:%M:%S')

In [ ]:
df["displayAddress"]

In [ ]:
df.columns[df.isna().any()].tolist()

In [ ]:
df.to_csv(r"../data/uae_real_estate_2024_geo_ready2.csv", index=False)

In [ ]:
import pandasai as pai

companies = pai.create(
  path="my-org/properties3",
  df=pai.read_csv("../data/uae_real_estate_2024_geo_ready2.csv"),
  description="UAE properties dataset 2"
)

In [ ]:
result = companies.chat("Retrieve properties located within a 2-mile radius of Dubai Eye.")